.notification
  %p チャットグループが作成されました。
.wrapper
  .sidebar
    .header
      %h3 アカウント名
      %ul.side-icons
        %li.side-icons__icon
          .pencil-icon
            =link_to "#", class: "pencil-link" do
              =fa_icon "pencil-square-o"
        %li.side-icons__icon
          .cog-icon
            =link_to "#", class: "cog" do
              =fa_icon "cog"
    .group
      =render partial: "group"
  .chat
    .header
      .header-left
        .header-left__group
          %h4 グループ名
        .header-left__members
          %p メンバー名
      .header-right
        .header-right__edit
          =link_to "Edit"
    .messages
      =render partial: "message"
    .form
      .form-wrapper
        %form
          %input{type: "text", placeholder: " type a message", class: "text-input"}
          %label.image-icon
            =fa_icon "picture-o"
            %input{type: "file", title: "", class: "image-input"}
          %input{type: "submit", value:"Send", class: "send-btn"}
