.notification
  %p チャットグループが作成されました。
.wrapper
  .sidebar
    .header
      %h3 アカウント名
      %ul
        %li
        %li
    .group
      =render partial: "group"
  .chat
    .header
      .header-left
        .header-left__group
          %h4 グループ名
        .header-left__members
          %p メンバー名
        .clear
      .header-right
        .header-right__edit
          %a Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name ユーザー名
          .upper-message__date Date
        .lower-message__content text
    .form
      .form-wrapper
        %form
          %input{type: "text", placeholder: " type a message"}
          %input{type: "file", title: ""}
          %input{type: "submit", value:"Send"}

