.wrapper
  .sidebar
    .header
      %h3=current_user.name
      %ul.side-icons
        %li.side-icons__icon
          .pencil-icon
            =link_to new_group_path, class: "pencil-link" do
              =fa_icon "pencil-square-o"
        %li.side-icons__icon
          .cog-icon
            =link_to edit_user_path(current_user), class: "cog-link" do
              =fa_icon "cog"
    =render partial: "/groups/group"
  .chat
    .header
      .header-left
        .header-left__group
          %h4=@group.name
        .header-left__members
          Member:
          -@group.members.each do |member|
            .header-left__members--name
              =member.user.name
      .header-right
        .header-right__edit
          =link_to "Edit",edit_group_path(@group), class: "edit-link"
    .messages
      =render partial: "message"
    .form
      .form-wrapper
        =form_for [@group, @message] do |f|
          =f.text_field :body, placeholder: "type a message", class: "text-input"
          .image-icon
            =f.label :image do
              =fa_icon "picture-o"
              =f.file_field :image, class: "image-input"
          = f.submit "Send", class: "send-btn"
