.notification
  %p チャットグループが作成されました。
.wrapper
  .sidebar
    .header
      %h3 アカウント名
      %ul
        %li
        %li
    .group
      .group__name
        %p グループ名
      .group__message
        %p メッセージ
  .chat
    .header
      .header-left
        .header-left__group
          %h4 グループ名
        .header-left__members
          %p メンバー名
      .header-right
    .messages
      .message
    .form
